@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

*
{
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

p
{
	font-weight: 300;
	color: #111;
}

.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/bg.jpg);
	background-size: cover;
}

.banner .content
{
	max-width: 900px;
	text-align: center;
}

.banner .content h2
{
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
}

.banner .content p
{
	font-size: 1em;
	color: #fff;
}

.btn
{
	font-size: 1em;
	color: #f7941d;
	background: #transparent;
	border: 2px solid #f7941d;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 10px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.btn:hover
{
	letter-spacing: 6px;
}

.bouton
{
	font-size: 1.5em;
	color: #fff;
	background: #transparent;
	border: 3px  #f7941d;
	border-radius: 40%;
	display: inline-block;
	padding: 5px 15px;
	margin-top: 10px;
	text-transform: border 3px #fff ;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.bouton:hover
{
	letter-spacing: 6px;
}

.testimonials
{
	background: url(img/bg2.jpg);
	background-size: cover;
}

.testimonials .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.testimonials .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testimonials .content .box .imgBx img
{
	width: 250px;
	height: 250px;
	margin-bottom: 15px;
	border-radius: 45%;
	border: 4px solid #f7941d;
	overflow: hidden;
}

.testimonials .content .box .text p
{
	color: #ffff;
	font-style: italic;
}

.testimonials .content .box .text h3
{
	margin-top: 20px;
	color: #ffff;
	font-size: 1em;
	color: #ffff;
	font-weight: 600;
}

.testimonials1
{
	background: url(img/reserve-table-bg.jpg);
	background-size: cover;
}

.testimonials1 .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.testimonials1 .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testimonials1 .content .box .imgBx img
{
	width: 250px;
	height: 250px;
	margin-bottom: 15px;
	border-radius: 45%;
	border: 4px solid #f7941d;
	overflow: hidden;
}

.testimonials1 .content .box .text p
{
	color: #ffff;
	font-style: italic;
}

.testimonials1 .content .box .text h3
{
	margin-top: 20px;
	color: #ffff;
	font-size: 1em;
	color: #ffff;
	font-weight: 600;
}

.testimonials2
{
	background: url(img/bg.jpg);
	background-size: cover;
}

.testimonials2 .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.testimonials2 .content .box
{
	width: 340px;
	margin: 20px;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.testimonials2 .content .box .imgBx img
{
	width: 250px;
	height: 250px;
	margin-bottom: 15px;
	border-radius: 45%;
	border: 4px solid #f7941d;
	overflow: hidden;
}

.testimonials2 .content .box .text p
{
	color: #ffff;
	font-style: italic;
}

.testimonials2 .content .box .text h3
{
	margin-top: 20px;
	color: #ffff;
	font-size: 1em;
	color: #ffff;
	font-weight: 600;
}


header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 1s;
}

header.sticky
{
	background: #fff;
	padding: 10px 60px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header.sticky .logo
{
	color: #f7941d;
}

header .logo span
{
	color: #fff;
}

header .navigation
{
	display: flex;
}

header .navigation li
{
	list-style: none;
	margin-left: 30px;
}

header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 400;
}

header.sticky .navigation li a
{
	color: #111;
}

header .navigation li a:hover
{
	color: #f7941d;
}

section
{
	padding: 100px;
}

.row
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50
{
	position: relative;
	width: 48%;
}

.titleText
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}

.titleText span
{
	color: #f7941d;
	font-weight: 700;
	font-size: 1.5em;
}

.imgBx img
{
	max-width: 100%;
	width: 100%;
	height: auto;
}

.title
{
	text-align: center;
}

.servives-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.s-box {
  text-align: center;
}
.s-box img {
  width: 65px;
}
.s-box h3 {
  margin: 4px 0 10px;
}

.menu .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;
}

.menu .content .box
{
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}

.menu .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}

.menu .content .box .imgBx img
{
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.menu .content .box .text
{
	padding: 15px 0 5px;
}

.menu .content .box .text h3
{
	font-weight: 400;
	color: #111;
}

.expert .content
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.expert .content .box
{
	width: 250px;
	margin: 15px;
}

.expert .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}

.expert .content .box .imgBx img
{
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.expert .content .box .text
{
	padding: 15px 0 5px;
}

.expert .content .box .text h3
{
	font-weight: 400;
	color: #111;
}


.carousel {
  height: 500px;
  position: relative;
  overflow: hidden;
}

.contact
{
	background: url(img/bg3.jpg);
	background-size: cover;
}

.contactForm
{
	padding: 75px 50px;
	background: url(img/reserve-table-bg.jpg);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
	max-width: 500px;
	margin-top: 50px;
}

.contactForm h3
{
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 20px;
	font-weight: 500;
}

.contactForm .inputBox
{
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
	width: 100%;
	border: 1px solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	resize: none;
}

.contactForm .inputBox input[type="submit"]
{
	font-size: 1em;
	color: #fff;
	background: #f7941d;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}

.copyrightText
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	text-align: center;
}

.copyrightText p
{
	color: #333;
}

.copyrightText a
{
	color: #3094d0;
	font-weight: 500;
	text-decoration: none;
}
.social-icons{
	padding:30px;
	background-color:#f7941d;
  text-align: center;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  box-shadow: 0px 0px 150px #000;
  z-index: 2;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);   
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 200ms ease-in;
  transform: scale(1.5);
}

/*-------- Tablet scren ------------*/
@media screen and (max-width:  991px)
{
	header,
	header.sticky
	{
		padding: 10px 20px;
	}

	header .navigation
	{
		display: none;
	}

	header .navigation.active
	{
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}

	header .navigation li
	{
		margin-left: 0;
	}

	header .navigation li a
	{
		text-decoration: none;
		color: #111;
		font-size: 1.6em;
		font-weight: 300;
	}

	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(img/menu.gif);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}

	.menuToggle.active
	{
		background: url(img/close.gif);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}

	header.sticky .menuToggle
	{
		filter: invert(1);
	}

	section
	{
		padding: 20px;
	}

	.banner .content h2
	{
		font-size: 3em;
		color: #fff;
	}

	.row
	{
		flex-direction: column;
	}

	.row .col50
	{
		width: 100%;
	}

	.col50 .imgBx
	{
		margin-top: 30px;
	}

	.menu .content
	{
		margin-top: 20px;
	}

	.menu .content .box
	{
		margin: 10px;
	}

	.menu .content .box .imgBx
	{
		height: 260px;
	}

	.title
	{
		text-align: center;
	}

	.titleText
	{
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}
}
/*-------- Tablet scren ------------*/
.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 45px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .text i {
    font-size: 16px;
    color: #FDBE33;
    margin-right: 5px;
}

.top-bar .text p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 45px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    font-size: 16px;
    color: #FDBE33;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.top-bar .social a:hover {
    color: #ffffff;
    background: #FDBE33;
}

/*--------- Mobile screen ----------*/
@media screen and (max-width: 440px)
{
	header.sticky
	{
		padding: 10px 20px;
	}

	.testimonials .content .box
	{
		margin: 10px;
		padding: 20px;
	}

	.contactForm
	{
		padding: 35px 40px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}