:root{
    --textOrange : #076b35;
    --textBrown: #ffffff;
    --backgroundYellow : #F0F3D6;
    /* --backgroundYellow : lemonchiffon; */
    --backgroundDarkYellow : #eff5be;
    --backgroundDarkYellow : #fdfbfa;
    --textGray: #637282;
    --textBlack: #431d08;
    --shadowGrey:  #969595;
    --shadowLightGrey: #cfcfcf;
    --backgroundWhite: ivory;

    --h1fontsize: 50px;
    --h1fontweight: 800;
    --h2fontsize: 40px;
    --h2fontweight: 700;
    --h3fontsize: 30px;
    --h3fontweight: 600;
    --h4fontsize: 20px;
    --h4fontweight: 500;
    --h5fontsize: 16px;
    --h5fontweight: 400;
    --pfontsize: 14px;
    --pfontweight: 300;
}

*{
    color: var(--textBlack);
}

/* ********************** */
/*      DESCRIPTION      */
/* ******************** */


#container{
    position: relative;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    margin: 0%;
}

#container #heading{
    padding-top: 100px;
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
}

#container .row .col-lg-6 img{
    width: 60%;
}

#quiz-img{
    width: 40%!important;
}

@media screen and (max-width: 700px){
    #container .row .col-lg-6 img{
        height: 200px;
        width: auto!important;
    }
}

#container .row .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#container .desc h4{
    font-size: var(--h4fontsize);
    font-weight: var(--h4fontweight);
}

#container .desc .contact p{
    margin-bottom: 0px;
    font-weight: var(--h4fontweight);
}

#container .row .col-lg-6 p{
    font-size: 15px;
    font-weight: var(--pfontweight);
}

#timer h3{
    font-size: var(--h3fontsize);
    font-weight: 350;
}

#count-down{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#count-down .big{
    padding: 0.5% 5%;
    font-size: 4.5vw;
}

@media screen and (max-width: 700px){
    #timer h3{
        font-size: var(--h5fontsize);
        font-weight: var(--h2fontweight);
    }
}
/* * ***************************************** */
             GLIMPSES
***************************************** */

#glimpses{
    height: 500px;
    text-align: center;  
    padding-bottom: 70px;  
}

#glimpses h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    /* color: var(--backgroundYellow); */
    background-color: inherit;
    margin-bottom: 100px;
}
  
.carousel-wrapper .carousel .carousel-cell {
    /* padding: 0 10px; */
    width: 20%;
    margin: 0 50px;
    transition: transform 700ms ease;
}

.carousel .carousel-cell img {
    width: 250px;
    height: auto;
} 

.carousel-wrapper .carousel .carousel-cell.is-selected {
    transform: scale(1.7);
}
.carousel-wrapper .flickity-page-dots {
    display: none;
}
.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
    overflow: visible;
}

svg{
    background-color: transparent;
}

@media only screen and (max-width: 700px){
    #glimpses{
        height: 400px;
    }

    .carousel .carousel-cell img {
        width: 150px;
        height: auto;
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected {
        z-index: 100;
        transform: scale(1.5);
    }
}

/* **********************   */
/*       Gallerie          */
/* ********************** */
/* Styles de la galerie */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 1px;
}

.gallery-item {
    position: relative;
    cursor: pointer;
    border: 3px solid #076b35;
    margin: 15px;
    border-radius: 10px; 
    overflow: hidden; 
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* Styles pour l'affichage en plein écran */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 10000;
}





/* ********************** */
/*          RULES        */
/* ******************** */


#rules, #judging-params{
    text-align: left;
    font-weight: var(--h3fontweight);
}

#rules ol li, #judging-params ol li{
    text-align: left;
    font-weight: var(--pfontweight);
    font-size: var(--pfontsize);
    list-style-type: circle;
}

#rules-quiz{
    text-align: left;
    font-weight: var(--h3fontweight);
    display: block;
}

#rules-quiz li{
    font-size: var(--pfontsize);
    font-weight: var(--pfontweight);
    list-style-type: disc;
}

#rules-quiz h3{
    font-size: var(--h3fontsize);
    color: var(--textBlack);
}

#rules-quiz h5{
    font-size: var(--h5fontsize);
    font-weight: var(--h3fontweight);
}

#rules-quiz ol ul{
    padding-left: 3%;
    padding-top: 1%;
}

#rules-quiz ol ul h6{
    font-weight: var(--h3fontsize);
}

#rules-quiz ol ul li{
    list-style-type: circle;
}


/* ********************** */
/*   REGISTER BUTTON     */
/* ******************** */




#register{
    text-align: center;
    padding-bottom: 10px;
}

#register button{
    background-color: var(--textOrange);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 20%;
    outline: none;
}

#register button:hover{
    opacity: 0.9;
}

#register button a{
    text-decoration: none;
    color: var(--backgroundYellow);
}

@media screen and (max-width: 650px){
    #register button{
        width: 50%;
    }
}

/* ********************** */
/*          PRIZES        */
/* ******************** */




#prizes .row{
    font-size: 60px;
    font-weight: var(--h1fontsize);
}

#prizes .col-lg-4{
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

#prizes .row .position{
    font-size: var(--h4fontsize);
    font-weight: var(--h4fontweight);
    opacity: 0.8;
}

#prizes .row .amount{
    font-size: var(--h3fontsize);
}

#prizes .row .worth{
    font-size: var(--h5fontsize);
    font-weight: var(--h4fontsize);
}