@font-face{
    font-family: 'Poppins';
    src: url('../poppins/Poppins-Regular.ttf') format('truetype'),
        url('../poppins/pxiEyp8kv8JHgFVrJJfecg.woff2') format('woff');
}

:root{
    --textOrange : #076b35;
    --textBrown: #AF3D23;
    --backgroundYellow : #eff5be;
    /* --backgroundYellow : lemonchiffon; */
    --backgroundDarkYellow : #eff5be;
    --backgroundDarkYellow : #076b35;
    --textGray: #637282;
    --textBlack: #431d08;
    --shadowGrey:  #969595;
    --shadowLightGrey: #cfcfcf;
    --backgroundWhite: #eff5be;

    --h1fontsize: 50px;
    --h1fontweight: 800;
    --h2fontsize: 40px;
    --h2fontweight: 700;
    --h3fontsize: 30px;
    --h3fontweight: 600;
    --h4fontsize: 20px;
    --h4fontweight: 500;
    --h5fontsize: 16px;
    --h5fontweight: 400;
    --pfontsize: 14px;
    --pfontweight: 300;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: poppins, sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    background: #eff5be;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

input{
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

a{
    text-decoration: none;
}
button{
    outline: none;
}

li{
    list-style: none;
}


#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('../preloader.gif') no-repeat center;
    background-size: 230px 170px;
    z-index: 99999;
    margin-top: auto;
    margin-bottom: auto;
}


.row{
    margin-left: 0px!important;
}

/* ----------------- */
#container {
    position: relative; /* Assurez-vous que le conteneur est positionné de manière relative */
}

#carousel {
    position: absolute; /* Position absolue pour placer le carrousel */
    top: 0; /* Alignement en haut */
    left: 0; /* Alignement à gauche */
}

/* BACK TO TOP */
/* ----------------- */

#back-to-top{
    outline: none;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    z-index: 10000;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid var(--textBlack);
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    box-shadow: 1px 1px 10px var(--shadowGrey);
}

#back-to-top i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: var(--textBlack);
}

#back-to-top:hover{
    /* opacity: 0.9; */
    background-color: var(--textBlack);
}

#back-to-top:hover i{
    color: var(--backgroundYellow);
}



/*  SKEW CLOCKWISE  */
/*------------------*/
.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, var(--textOrange) 49%, var(--backgroundYellow) 50%);
}
  
  
/*-------------------------*/
/* SKEW COUNTER CLOCKWISE  */
/*-------------------------*/
.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, var(--backgroundYellow) 49%, var(--textOrange) 50%);
}

/* *****************************************
                NAVBAR
***************************************** */

#header{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    /* background-color: transparent; */
}

#header.sticky{
    box-shadow: 0px 1px 5px var(--shadowGrey);
}

#header #logo{
    font-size: 20px;
    font-weight: bolder;
}

#header #logo img{
    width: 50px;
    height: auto;
}

#header nav{
    display: flex;
    flex-direction: row;
}

#header nav a{
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 100px;
    color: var(--textBlack);
}

#header nav a:last-child{
    color: var(--backgroundYellow);
    background-color: var(--textOrange);
    border-radius: 100px;
}

#header nav a:hover{
    opacity: 0.9;
}

#header #hamburger-btn{
    display: none;
    font-size: 23px;
    color: var(--textBlack);
}

#header #hamburger-btn button{
    border: none;
    outline: none;
    cursor: pointer;
}


@media screen and (max-width: 650px){

    #header{
        justify-content: space-between;
    }
    
    #header nav{
        display: none;
        flex-direction: column;
    }

    #header #hamburger-btn{
        display: block;
    }
}

@media screen and (min-width: 650px){
    #header nav{
        display: flex!important;
    }
}

/* ***************************************** 
                  TESTIMONIALS
***************************************** */

#testimonials-container {
    display: flex;
    justify-content: center; /* Centre les témoignages horizontalement */
    align-items: center; /* Centre les témoignages verticalement */
    flex-wrap: wrap; /* Permet le retour à la ligne si nécessaire */
    position: center;
    
}

.testimonial-item {
    width: 40%; /* Ajustement de la largeur des témoignages */
    height:60%;
    margin-bottom: 20px;
}

.testimonial-video iframe {
    width: 90%;
    height: 50vh; /* Ajuste la hauteur de la vidéo en proportion */
    margin-left: auto; /* Marge à gauche automatique */
    margin-right: auto; /* Marge à droite automatique */
}

.testimonial-content {
    text-align: center;
}

/* Média requête pour ajuster la disposition sur les petits écrans */
@media screen and (max-width: 768px) {
    #testimonials-container {
        flex-direction: column; /* Disposition verticale sur les petits écrans */
        align-items: stretch; /* Étire les témoignages verticalement */
    }

    .testimonial-item {
        width: 100%; /* Pleine largeur pour chaque témoignage */
    }
}



/* *****************************************
                LANDING PAGE
***************************************** */




.custom-container{
    /* overflow: hidden;  */
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 575px;
}

#bg-container{
    width: 40%;
}

#content-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-container h1{
    color: var(--textBrown);
    font-weight: 900;
    font-size: 40px;
    line-height: 0.9em;
    /* margin-bottom: 30px; */
}

#content-container #togo-head{
    color: var(--textBrown);
    font-weight: 900;
    font-size: var(--h4fontsize);
    line-height: 0.9em;
    margin-bottom: 30px;
}

#content-container p{
    font-size: var(--pfontsize);
    font-weight: 500;
    color: var(--textBlack);
    line-height: 1.7em;
    margin-bottom: 30px;
}

#content-container button{
    background-color: var(--textOrange);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 15px;
    width: 50%;
    outline: none;
}

#content-container button:hover{
    opacity: 0.9;
}

#content-container button a{
    text-decoration: none;
    color: var(--backgroundYellow);
}


@media screen and (max-width: 650px){
    .custom-container{
        flex-direction: column-reverse;
        padding: 30px 0;
        height: auto;
    }

    #content-container{
        text-align: center;
        width: auto;
    }
    
    #content-container h1{
        line-height: 1em;
        font-size: 45px;
    }

    #landingpage .row{
        padding: 0%;
    }

    #landingpage img{
        height: 100%;
        width: 100%;
        /* margin-left: -50; */
        /* margin-right: auto; */
    }
}

/* *****************************************
                ABOUT EBT
***************************************** */
#about-ETB{
    text-align: center;
    background-color: var(--textOrange);
}
#about-EBT-container{
    background-color: inherit;
    padding: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; 
}

#about-EBT h1{
    font-size: 50px;
    background-color: inherit;
    color: var(--backgroundYellow);
    font-weight: 800;
}

#EBT-image{
    width: 50%;
    background-color: inherit;
}

#EBT-image img{
    background-color: var(--textOrange);
    width: 100%;
}

#EBT-content{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: inherit;
}

#EBT-content p{
    background-color: inherit;
    color: var(--backgroundYellow);
    font-weight: 300;
    padding: 30px;
    margin: 20px;
}

@media screen and (max-width: 650px){
    #about-EBT-container{
        flex-direction: column;
        padding: 10px;
    }

    #about-EBT h1{
        font-size: 40px;
    }

    #EBT-image{
        width: 100%;
    }    

    #EBT-content{
        width: auto;
    }

    #EBT-content p{
        padding: 0;
    }
}

/* *****************************************
                ABOUT TOGO
***************************************** */
#about-togo {
    text-align: center;
    background-size: cover; /* Redimensionne l'image pour couvrir tout le conteneur */
    background-attachment: fixed; /* Fixe l'image de fond pendant le défilement */
    padding: 100px 0; /* Ajoutez un espace autour du contenu */
}

#about-togo h1 {
    color: var(--textBlack);
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 20px; /* Ajoute de l'espace en bas du titre */
}

#about-togo-container {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#togo-image {
    width: 50%;
}

#togo-image img {
    width: 100%;
}

#togo-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#togo-content p {
    color: var(--textGray);
    font-weight: 300;
    padding: 0 30px;
    margin: 20px;
}


@media screen and (max-width: 650px){
    #about-togo-container{
        flex-direction: column-reverse;
        padding: 10px;
    }

    #about-togo h1{
        font-size: 40px;
    }

    #togo-image{
        width: 100%;
    }    

    #togo-content{
        width: auto;
    }

    #togo-content p{
        padding: 0%;
    }
}

/* *****************************************
            ABOUT BUDDIES
***************************************** */
#about-buddies{
    text-align: center;
    background-color: var(--textOrange);
}
#about-buddies-container{
    background-color: inherit;
    padding: 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; 
}

#about-buddies h1{
    font-size: 50px;
    background-color: inherit;
    color: var(--backgroundYellow);
    font-weight: 800;
}

#buddies-image{
    width: 50%;
    background-color: inherit;
}

#buddies-image img{
    background-color: var(--textOrange);
    width: 100%;
}

#buddies-content{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: inherit;
}

#buddies-content p{
    background-color: inherit;
    color: var(--backgroundYellow);
    font-weight: 300;
    padding: 30px;
    margin: 20px;
}

@media screen and (max-width: 650px){
    #about-buddies-container{
        flex-direction: column;
        padding: 10px;
    }

    #about-buddies h1{
        font-size: 40px;
    }

    #buddies-image{
        width: 100%;
    }    

    #buddies-content{
        width: auto;
    }

    #buddies-content p{
        padding: 0;
    }
}

/* *****************************************
                SPONSOR
***************************************** */
#title-spons{
    text-align: center;
    background-color: var(--backgroundYellow);
}

#title-spons h1{
    background-color: inherit;
    color: var(--textBlack);
    font-weight: 800;
    font-size: 50px;
}

#title-spons h5{
    color: var(--textBlack);
    font-weight: var(--h4fontweight);
    font-size: var(--h4fontsize);
}

#title-spons img.title{
    width: 50%;
    height: auto;
}

#title-spons img.partners{
    width: 100%;
    height: auto;
}

#title-spons img.partners.enlighten{
    width: 100%;
    height: 56%;
}

@media screen and (max-width:700px){
    #title-spons img.title{
        width: 90%;
        height: auto;
    }

    #title-spons img.partners.enlighten{
        width: 90%;
        height: auto;
    }

    #title-spons div.col-6{
        margin-bottom: 20px;
    }
}

/* *****************************************
                DESIGN
***************************************** */
.service-part-3 {
    /* z-index: 3; */
    background-color: #eff5be;
    width: 100%;
    height: max-content;
    padding-bottom: 50px;
    margin-top: 100px;
  }
  
  .ripped-paper-gray-up {
    transform: rotate(180deg);
    position: relative;
    top: -17px;
    right: 0px;
    width: 100%;
    height: auto;
  }
  
  .service-part-2-row {
    max-width: 100%;
    position: relative;
    top: 100px;
  }
  
  .service-two__card {
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 500ms ease;
  }
  
  .service-two__card-image {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .service-two__card-image>img {
    width: 100%;
  }
  
  .service-two__card-content {
    background-color: #eff5be;
    position: relative;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 30px;
    transition: all 500ms ease;
    box-shadow: 0px 10px 60px 0px #076b35(0, 0, 0, 0.05);
  }
  
  .service-two__card-content h3 {
    color: var(--thm-black);
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .service-two__card-content h3 a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  
  .service-two__card-content h3 a:hover {
    color: var(--thm-primary);
  }
  
  .service-two__card-content p {
    margin: 0;
    font-size: 15px;
    line-height: 1.875;
    color: #6e7673;
  }
  
  .service-two__card:hover .service-two__card-content {
    -webkit-box-shadow: 0px 10px 60px 0px #076b35;
    box-shadow: 0px 10px 60px 0px #076b35;
  }
  
  .service-two__card-icon {
    width: 78px;
    height: 78px;
    background-color: var(--thm-base);
    border: 6px solid #eff5be;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: #076b35;
    border-radius: 50%;
    position: relative;
    top: -39px;
    margin-bottom: -39px;
    transition: all 500ms ease;
  }
  
  .service-two__card-icon i {
    font-size: 25px;
    color: #fff;
  }
  
  .service-two__card:hover .service-two__card-icon {
    background-color: #076b35;
  }
  
  .service-two__card:hover {
    -webkit-box-shadow: #076b35;
    box-shadow: #076b35;
  }
  .page-header-about .container-xxl h2 {
    margin: 0;
    line-height: 1;
    font-family: var(--special-font);
    color: #076b35;
    font-size: 70px;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
  }

/* *****************************************
                EVENTS
***************************************** */

#events-container{
    overflow: hidden;
    justify-content: center;
    padding-top: 20px;
    /* height: 575px; */
    background-color: var(--textOrange);
}


#events h1{
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-weight: inherit;
    background-color: inherit;
    color: var(--backgroundYellow);
    font-size: 50px;
}

.row{
    padding: 2% 10%;
    display: table;
    width: 100%;
    background-color: inherit;
}

.col{
    margin: 0% 1%;
    display: table-cell;
    background-color: inherit;
}

.card{
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--shadowGrey);
    background-color: var(--backgroundWhite)!important;
}

.card .card-body:hover{
    transform: scale(1.05);
}

.card:hover{
    box-shadow: 0px 0px 5px var(--shadowLightGrey);
    transition: 0.5s;
}

.card .top-bar {
    width: 50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    background-color: var(--textBlack);
    border-radius: 0px 0px 10px 10px;
}

.card .card-body{
    text-align: center;
    font-weight: inherit;
    background-color: inherit;
}

.card .card-body .circle{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    color: var(--textBlack);
    background-color: var(--backgroundYellow);
    padding: 12px;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 30px;
}

.card .card-body:hover .circle{
    background-color: var(--textBlack);
    color: var(--backgroundYellow);
    transition: 0.5s;
}

.card .card-body .circle i{
    background-color: inherit;
}

.card .card-body h4{
    font-size: 20px;
    background-color: inherit;
    color: var(--textBlack);
    font-weight: 600;
}

.card .card-body p{
    font-size: 14px;
    background-color: inherit;
    font-weight: 300;
    color: var(--textGray);
}

.card .card-body .event-description span{
    font-weight: var(--h1fontweight);
    background-color: inherit;
}

.card .card-body .event-description i{
    background-color: inherit;
    font-weight: var(--pfontweight);
}



.card .card-body button{
    background-color: var(--textOrange);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 5px;
    width: 70%;
    outline: none;
}

.card .card-body button:hover{
    opacity: 0.9;
}

.card .card-body button a{
    text-decoration: none;
    color: var(--backgroundWhite);
    font-size: var(--pfontsize);
}

@media only screen and (max-width: 1000px){
    .col{
        margin-bottom: 30px;
    }
    .card .card-body button{
        width: 80%;
    }
}
#achievements {
    background-color: #eff5be;
    padding: 50px 0;
    text-align: center;
}

#achievements h1 {
    margin-bottom: 30px;
}

#achievements-container {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.achievement {
    width: 200px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #eff5be;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.473);
}

.achievement h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}



/* *****************************************
                GLS
***************************************** */

#gls{
    /* height: 575px; */
    text-align: center;
}

#gls-container{
    overflow: hidden;
    padding-top: 20px;
    margin: 0 3%;
    background-color: inherit;
    padding: 20px;
}

#gls h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    /* color: var(--backgroundYellow); */
    background-color: inherit;
}

#gls-container .card{
    border-radius: 20px;
    margin-bottom: 30px;
}

#gls-container .card:hover{
    box-shadow: 0px 0px 5px var(--shadowLightGrey);
    transition: 0.2s;
    transform: scale(1.02);
}

#gls-container .card .row{
    padding: 5px;
    background-color: inherit;
}

#gls-container .row .col-lg-4, #gls-container .row .col-lg-8{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gls-container .row .col-lg-8 h4{
    background-color: inherit;
    font-weight: var(--h2fontweight);
    font-size: var(--h4fontsize);
}

#gls-container .row .col-lg-8 p{
    background-color: inherit;
    font-weight: var(--pfontweight);
    font-size: var(--pfontsize);
}

#gls-container .card img{
    width: 100%;
    border-radius: 14px;
}

/* *****************************************
            AFTERMOVIE
***************************************** */

#aftermovie{
    background-color: var(--textOrange);
}

#aftermovie-container{
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    margin: 0 3%;
    background-color: inherit;
}

#aftermovie-container h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    color: var(--backgroundYellow);
    background-color: inherit;
}

#aftermovie-container #video{
    background-color: inherit;
}

#aftermovie-container iframe{
    background-color: inherit;
    outline: none;
    border: none;
}

@media screen and (max-width: 650px){
    #aftermovie-container iframe{
        width: 100%;
    }
}

/* *****************************************
            2020 GLIMPSES
***************************************** */

#glimpses{
    height: 500px;
    text-align: center;  
    padding-bottom: 70px;  
}

#glimpses h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    /* color: var(--backgroundYellow); */
    background-color: inherit;
    margin-bottom: 100px;
}
  
.carousel-wrapper .carousel .carousel-cell {
    /* padding: 0 10px; */
    width: 20%;
    margin: 0 50px;
    transition: transform 700ms ease;
}

.carousel .carousel-cell img {
    width: 250px;
    height: auto;
} 

.carousel-wrapper .carousel .carousel-cell.is-selected {
    transform: scale(1.7);
}
.carousel-wrapper .flickity-page-dots {
    display: none;
}
.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
    overflow: visible;
}

svg{
    background-color: transparent;
}

@media only screen and (max-width: 700px){
    #glimpses{
        height: 400px;
    }

    .carousel .carousel-cell img {
        width: 150px;
        height: auto;
    }

    .carousel-wrapper .carousel .carousel-cell.is-selected {
        z-index: 100;
        transform: scale(1.5);
    }
}

/* *****************************************
                TEAM
***************************************** */

#team{
    background-color: var(--textOrange);
}

#team-container{
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    margin: 10 3%;
    background-color: inherit;
}

#team-container h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    color: var(--backgroundYellow);
    background-color: inherit;
}

.profile{
    margin-top: 25px;
    background-color: inherit;
    color: var(--backgroundWhite)
}

.profile .img-box{
    opacity: 1;
    display: block;
    background-color: inherit;
    position: relative;
}

.img-box::after{
    content: "";
    opacity: 0;
    background-color: rgba(43, 26, 1, 0.4);
    position: absolute;
    right: 0;
    left: 5%;
    top: 0;
    bottom: 0;
    border-radius: 100px;
    width: 90%;
}

.img-box:hover::after{
    opacity: 1;
}

.img-box:hover ul{
    opacity: 1;
}

.profile .img-box img{
    width: 90%;
    height: auto;
    border-radius: 100px;
}

.img-box ul{
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
    left: 50%;
    bottom: 0;
    margin: 10;
    display: flex;
    flex-direction: row;
    background-color: transparent;
} 

.img-box ul button{
    background-color: inherit;
}

.img-box ul a{
    background-color: inherit;
    color: var(--backgroundWhite);
}

.img-box ul a:hover{
    opacity: 0.6;
}

.img-box ul li{
    background-color: inherit;
    width: 30px;
    height: 30px;
}

.img-box ul li i{
    background-color: inherit;
    font-size: 20px;
}

.team-content{
    background-color: inherit;
    padding: 20px 10px;
}


.profile h3{
    font-size: 18px;
    font-weight: var(--h3fontweight);
    background-color: inherit;
}

.profile h4{
    font-size: var(--pfontsize);
    font-weight: var(--h3fontweight);
    background-color: inherit;
    opacity: 1;
}

.profile p{
    font-size: var(--pfontsize);
    font-weight: var(--pfontweight);
    background-color: inherit;
    opacity: 0.8;
}

/* *****************************************
                FAQs
***************************************** */

#faqs{
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
}

#faqs h1{
    font-size: var(--h1fontsize);
    font-weight: var(--h1fontweight);
    color: var(--textBlack);
    padding: 10px;
}

#faqs-container .col-lg-6{
    text-align: left;
}

#faqs-container .col-lg-6 h4{
    font-size: 16px;
    font-weight: 700;
}

#faqs-container .col-lg-6 p{
    font-size: 14px;
    font-weight: 300;
    color: var(--textGray);
}

/* *****************************************
                CONTACT
***************************************** */

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--textOrange);
    /* height: 525px; */
    color: var(--textBlack);
}

#contact h1{
    background-color: inherit;
    color: var(--backgroundYellow);
    font-weight: 800;
    font-size: 50px;
}

#contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10%;
    background-color: inherit;
}

#contact-info{
    width: 40%;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--textBlack);
}

#contact-info div{
    background-color: inherit;
}

#contact-info h2{
    font-weight: 700;
    font-size: 20px;
    color: ivory;
    background-color: inherit;
}

#contact-info #info{
    background-color: inherit;
}

#info li{
    background-color: inherit;
    cursor: text;
    list-style: none;
    padding: 10px;
}

#info li:hover span{
    opacity: 0.7;
}

#contact-container li span{
    background-color: inherit;
    color: ivory;
    font-weight: 100;
    font-size: 14px;
}

#info li span i{
    background-color: inherit!important;
    background-color: ivory;
}

#sci{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: inherit;
}

#sci li{
    background-color: inherit;
    cursor: pointer;
    list-style: none;
}

#sci li span i{
    background-color: inherit;
    font-size: var(--h4fontsize);
}

#sci li:hover span i{
    opacity: 0.7;
}


#contact-form{
    width: 60%;
    margin: 50px;
    background-color: var(--backgroundYellow);
    padding: 30px;
    border-radius: 10px;
}

#contact-form h2{
    font-weight: 700;
    font-size: 22px;
    color: var(--textBlack);
}

#contact-form .btn{
    background-color: var(--textBlack);
    border-radius: 100px;
    cursor: pointer;
    border: none;
    padding: 8px;
    width: 30%;
    font-size: 14px;
} 

@media screen and (max-width: 650px){
    #contact-container{
        flex-direction: column;
        padding: 30px;
    }

    #contact-info{
        width: 100%;
    }    

    #contact-form{
        width: auto;
        margin: 0;
    }
}



/* *****************************************
                FOOTER
***************************************** */

#footer-container{
    background-color: var(--textBlack);
    padding: 10px;
    bottom: 0;
}

#footer-container #logo-footer{
    background-color: inherit;
    margin-right: auto;
    margin-left: auto;
}

#logo-footer img{
    background-color: inherit;
}

#footer-container .terms{
    margin: 10px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: inherit;
    bottom: 0;
}

#footer-container .terms a{
    text-decoration: none;
    background-color: inherit;
    color: ivory;
}

#footer-container .terms a i{
    background-color: inherit;
    color: ivory;
    
}

#footer-container .terms span{
    background-color: inherit;
    color: white;
    padding: 10px;
}

#footer-container .light{
    padding: 0 15%;
}

#footer-container .light a{
    font-size: var(--pfontsize);
    font-weight: var(--pfontweight);
}

@media screen and (max-width: 650px){
    #footer-container .light{
        padding: 0;
    }
}